---
layout: default
---

<h1>{{ page.title }}
  {% if page.subtitle %}<small>{{ page.subtitle }}</small>{% endif %}
</h1>
<table>
    <tr>
        <td>Source</td>
        <td>{% if page.source %}<a href="{{ page.source }}">{{ page.source }}</a>{% endif %}</td>
    </tr>
    <tr>
        <td>NuGet package</td>
        <td>{% if page.nuget %}<a href="{{ page.nuget }}">{{ page.nuget }}</a>{% endif %}</td>
    </tr>
    <tr>
        <td>Download installer</td>
        <td>{% if page.installer %}<a href="{{ page.installer }}">{{ page.installer }}</a>{% endif %}</td>
    </tr>
</table>

{{ content }}
